/* styles.css */
section{
  position: relative;
  width: 100%;
}
body{
  background-color: white;
  margin: 0;
  border: 0;
}

td{
  word-wrap: break-word;
}

nav{
  position: absolute;
  margin: 1% 0 0 1%;
}

#dropdown-container{
  display: inline-block;
  position: relative;
}

#menu-icon{
  border: none;
  border-style: none;
  outline:none;
  background-color: Transparent;
  background-repeat:no-repeat;
  overflow: hidden;
  outline: 0;
  cursor:pointer;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid lightgray;
}

.dropdown-content a:hover {
  background-color: lightgray;
}

.show{display:block;}

#landing{
  height: 100vh;
}

#top_logos{
  height: 21.6%;
}
#logo-container{
  text-align: center;
}
#logo_top{
  display: block;
  margin: 0 auto;
  padding: 1%;
  height: 80%;
  /*margin-left: 40%;*/
}

#creators{
  height: 40%;
  position: absolute;
  left: 80%;
  margin: 0;
  top: 50%;
  transform: translate(0, -50%);
}

#big_photo{
  display: table;
  height: 78.4%;
  background-image: url("../../img/natebri2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#big_photo div{
  display: table-cell;
  width: 100%; height: 100%;
  text-align: center;
  vertical-align: middle;
}

#big_photo span{
  display: block;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 250%;
}


#description span{
  width: 100%;
  display: block;
  padding: 5px;
  margin: 5px 0 5px 0;
  text-align: center;
  font-size: 2em;
  color: #7e7e7e /* gray */
}

/* _______________________________________ */

section #logic_hero_table{
  background-color: #d7d7d7; /* light gray */
  padding: 2% 0 1% 0;
}

.split_table {
  width: 100%;
  height: 20em;
}

.split_table td{
  display: inline-block;
  width: 49%; height: 100%;
}

#logic_hero_description{
  height: 100%;
  display: inline-block;
}

#logic_hero_description h1, span{
  display: block;
  text-align: center;
  align-items: center;
  width: 70%;
  margin: 0 15% 0 15%;
}

#logic_hero_TM_icon{
  height: 50px;
}

#logic_hero_description h1{
  color: blue;
  font-size: 300%;
}

#logic_hero_description span{
  font-size: 150%;
}

#logic_hero_description div {
  display: inline-block;
  width:100%; height: 100%;
}

#logic_hero_description ul{
  display: block;
  width: 86%;
  margin: 0 10% 0 4%;
}

#logic_hero_description ul li{
  font-size: 120%;
  font-weight: lighter;
}

.split_table_image_wrapper {
  top: 0%;
  left: 50%;

}

.split_table_image{
    display: block;
    margin: 0 auto;
    width: 102%; height: 360;
    margin-left: 3%;
}

/* __________________________________ */

section #logic_mapping_table{
  background-color: black; /* light gray */
  padding: 3% 0 3% 0;
}

#logic_mapping_table td{
  display: inline-block;
  width: 49%; height: 100%;
  color: #249ce0;
}


#logic_mapping_description h1{
  display: block;
  text-align: center;
  align-items: center;
  width: 70%;
  margin: 0 15% 0 15%;
}

#logic_mapping_description h1{
  font-size: 300%;
}

#logic_mapping_description div {
  display: inline-block;
  margin: 0; padding: 0;
  width: 100%; height: 100%;
}

#logic_mapping_description ul{
  display: block;
  width: 80%;
  margin: 0 12% 0 8%;

}

#logic_mapping_description ul li{
  font-size: 180%;
  font-weight: lighter;
  margin: 5%;
}

/* __________________________________ */

#voting_table{
  width: 96%; height: 96%;
  margin: 2%;
  table-layout: fixed;
}

.voting_table_questions_row{
  height: 100px; /* stephen */
}

#voting_table caption{
  font-size: 200%;
  padding: 1%;
}

td #inner_category_table_container{
  width: 24%;
}

.inner_category_table{
  border: 1px solid black;
  border-radius: 5px;
  width: 100%; height: 100%;
}

td .question{
  top: 0%;
  left: 0%;
  width: 94%;
  padding-left: 3%; padding-right: 3%;

}

.vote_cell_table{
  width: 100%;
}

.vote_cell_table tbody, tr{
  width: 100%;
}

.vote_cell_thumbs_vote, .voting_meter_td{
  display: inline-block;
}

.voting_meter_td{
  width: 55%;
  height: 20%;
}

.voting_meter_td meter{
  width: 100%;
}

.vote_cell_thumbs_vote{
  width: 20%;
}

/* METER ITSELF */
.voting_meter_table {
  height: 100%;
}
.voting_meter_table tbody, tr{
  padding: 0; margin: 0;
}


.vote_cell button{
  width: 100%;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}


.voting_meter_table{
  width: 100%;
  height: 100%;
}

meter {
  /*-webkit-appearance: none; /* Reset appearance */*/
  border: 1px solid #ccc;
  border-radius: 3px;

  /*background-image: linear-gradient(
  90deg,
  green 70%,
  lightgreen 90%,

); */
}

meter::-webkit-meter-bar {
  background: none;
  background-color: whiteSmoke;
  box-shadow: 0 5px 5px -5px #333 inset;
}



/* ______________________________________ */
#tfy_classroom {
  background-color: #249ce0;
  padding: 3% 0 3% 0;
}

#tfy_classroom_description div {
  display: inline-block;
  margin: 0;
  width: 100%; height: 100%;
}

#tfy_classroom_description div h1, p{
  display: block;
  width: 85%;
  margin: 0 7% 0 8%;
  color: white;
}

#tfy_classroom_description div h1{
  text-align: center;
  font-size: 300%;
}

#tfy_classroom_description div p{
  padding: 3%;
  font-size: 150%;
}

/* ________________ vision to reality _____________ */

#vision_to_reality{
  padding: 3% 0 3% 0;
  background-color: lightgray; /* gray */
}

#vision_to_reality h1{
  width: 100%;
  text-align: center;
  font-size: 400%;
  color: #249ce0;
  padding: 0; margin: 0;
}

#vision_to_reality p{
  margin: 0 15% 0 15%;
  padding: 1% 0 1% 0;
  width: 70%;
  text-align: center;
  font-size: 250%;
  color: black;
}

/* _____________ team _______________ */
#team{
  padding: 3% 0 3% 0;
}
#team p{
  color: black;
  margin: 0;
  padding-top: 0;
  width: 100%; height: 100%;
  font-size: 120%;
}

#team_table{
  padding: 4%;
}

#team_table td{
  display: table-cell;
  vertical-align: top;
  width: 30%;
  padding: 0 3% 0 3%;
}

.founder_photo{
  width: 100%; height: auto;
}

td.founder_name{
  color: black;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 120%;
}

#team_table caption{
  font-size: 300%;
  font-weight: bold;
}

#team_table p{
  text-align: left;
  font-family: serif;
  font-size: 1em;
  font-weight: 300;
  color: #353535;
}

/* __________________ contact us _________________ */
#contact{
  background-color: #353535;
  padding: 2% 0 2% 0;
}

#contact_message_td{
  height: 100%;
}

#contact h1, p, small{
  text-align: center;
  color: white;
}

#contact h1{
  font-size: 3em;
  margin: 0;
}

#contact p{
  font-size: 2em;
  padding: 3% 0 3% 0;
}

#tfy_footer_logo_wrapper{
  width: 100%;
}

#tfy_footer_logo{
  display: block; margin: 0 auto; /* center horiz. */
  width: 70%;
  padding: 3% 0 3% 0;
}

#contact small{
  display: block; margin: 0 auto;
  width: 100%;
  font-size: 100%;
  padding: 2% 0 2% 0;
}

#contact_form_td{
  height: 100%;
}

#contact form{
  display: inline-block;
  color: white;
  width: 100%;
}

.flash{
  color: pink;
}

.contact_input_wrapper{
  padding: 1%;
}

.contact_input_wrapper label{
  font-size: 1em;
}

input, textarea{
  border-radius: 5px;
  outline: none;
  border-style: none;
  margin-top: 1px;
}
input{
  width: 60%;
  height: 1.4em;
  font-size: 1.2em;
}

textarea{
  width: 90%;
}

textarea#message{
  height: 15em;
  font-size: 1.2em;
}

#submit{
  width: 6em;
  height: 2em;
  font-size: 1.2em;
  border-radius: .5em;
  background-color: lightgray;
  cursor: pointer;
  border: none;
  outline: none;
}

#submit:hover{
  background-color: maroon;
  color: lightgray;
  /*background-color: #249ce0;*/
}
