/* styles.css */
section{
  position: relative;
  width: 100%;
}
body{
  background-color: white;
  margin: 0;
  border: 0;
}

td{
  word-wrap: break-word;
}

section #top_logos{
  height: 20em;
  position: relative;
}

#logo_top{
  display: block;
  margin: 0 auto;
  padding: 35px;
}

#logic_hero_icon{
  position: absolute;
  left: 80%;
  margin: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 10em; height: auto;
}

#big_photo img{
  width: 100%;
  margin: 0; padding: 0; border: 0;
}

#description span{
  width: 100%;
  display: block;
  padding: 5px;
  margin: 5px 0 5px 0;
  text-align: center;
  font-size: 2em;
  color: #7e7e7e /* gray */
}

/* _______________________________________ */

section #logic_hero_table{
  background-color: #d7d7d7 /* light gray */
}

.split_table {
  width: 100%;
  height: 20em;
}

#logic_hero_table td{
  display: inline-block;
  width: 49%; height: 100%;
}

#logic_hero_description h1, span{
  display: block;
  text-align: center;
  align-items: center;
  width: 70%;
  margin: 0 15% 0 15%;
}

#logic_hero_description h1{
  color: blue;
  font-size: 200%;
}

#logic_hero_description span{
  font-size: 150%;
}

#logic_hero_description div {
  display: inline-block;
  margin: 2% 0 4% 0;
}

#logic_hero_description ul{
  display: block;
  width: 80%;
  margin: 0 12% 0 8%;

}

#logic_hero_description ul li{
  font-size: 120%;
  font-weight: lighter;
}

.split_table_image_wrapper {
  top: 0%;
  left: 50%;
}

.split_table_image{
    display: block;
    margin: 0 auto;
    height:  100%; width: 100%;
}

/* __________________________________ */

section #logic_mapping_table{
  background-color: black; /* light gray */
}

#logic_mapping_table td{
  display: inline-block;
  width: 49%; height: 100%;
  color: lightblue;
}


#logic_mapping_description h1{
  display: block;
  text-align: center;
  align-items: center;
  width: 70%;
  margin: 0 15% 0 15%;
}

#logic_mapping_description h1{
  font-size: 200%;
}

#logic_mapping_description div {
  display: inline-block;
  margin: 0;
  width: 100%;
}

#logic_mapping_description ul{
  display: block;
  width: 80%;
  margin: 0 12% 0 8%;

}

#logic_mapping_description ul li{
  font-size: 120%;
  font-weight: lighter;
}

/* __________________________________ */







#voting_table{
  width: 96%; height: 96%;
  margin: 2%;
  table-layout: fixed;
}

td #inner_topic_table_container{
  width: 24%;
}



.inner_topic_table{
  border: 1px solid black;
  border-radius: 5px;
  width: 100%; height: 100%;
}

td #question{
  top: 0%;
  left: 0%;
  width: 90%;
  padding-left: 3%; padding-right: 3%;

}
td #vote_cell{
  display: inline-block;
  align-items: center;
  /*top: 0%;
  /*right: 10%;*/
   width: 90%; height: 100%;
}

#vote_cell form button{
  width: 100%;
}
