/* styles.css */
section{
  position: relative;
  width: 100%;
}
body{
  background-color: white;
  margin: 0;
  border: 0;
}

td{
  word-wrap: break-word;
}

section #top_logos{
  height: 20em;
  position: relative;
}

#logo_top{
  display: block;
  margin: 0 auto;
  padding: 5%;
}

#logic_hero_icon{
  position: absolute;
  left: 80%;
  margin: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 10em; height: auto;
}

#big_photo img{
  width: 100%;
  margin: 0; padding: 0; border: 0;
}

#description span{
  width: 100%;
  display: block;
  padding: 5px;
  margin: 5px 0 5px 0;
  text-align: center;
  font-size: 2em;
  color: #7e7e7e /* gray */
}

/* _______________________________________ */

section #logic_hero_table{
  background-color: #d7d7d7; /* light gray */
  padding: 3% 0 3% 0;
}

.split_table {
  width: 100%;
  height: 20em;
}

.split_table td{
  display: inline-block;
  width: 49%; height: 100%;
}

#logic_hero_description h1, span{
  display: block;
  text-align: center;
  align-items: center;
  width: 70%;
  margin: 0 15% 0 15%;
}

#logic_hero_description h1{
  color: blue;
  font-size: 300%;
}

#logic_hero_description span{
  font-size: 200%;
}

#logic_hero_description div {
  display: inline-block;
  width:100%; height: 100%;
}

#logic_hero_description ul{
  display: block;
  width: 80%;
  margin: 0 12% 0 8%;
}

#logic_hero_description ul li{
  font-size: 120%;
  font-weight: lighter;
}

.split_table_image_wrapper {
  top: 0%;
  left: 50%;
}

.split_table_image{
    display: block;
    margin: 0 auto;
    height:  100%; width: 97%;
    margin-left: 3%;
}

/* __________________________________ */

section #logic_mapping_table{
  background-color: black; /* light gray */
  padding: 3% 0 3% 0;
}

#logic_mapping_table td{
  display: inline-block;
  width: 49%; height: 100%;
  color: #4995ff; /* cobalt blue */
}


#logic_mapping_description h1{
  display: block;
  text-align: center;
  align-items: center;
  width: 70%;
  margin: 0 15% 0 15%;
}

#logic_mapping_description h1{
  font-size: 300%;
}

#logic_mapping_description div {
  display: inline-block;
  margin: 0; padding: 0;
  width: 100%; height: 100%;
}

#logic_mapping_description ul{
  display: block;
  width: 80%;
  margin: 0 12% 0 8%;

}

#logic_mapping_description ul li{
  font-size: 180%;
  font-weight: lighter;
  margin: 5%;
}

/* __________________________________ */

#voting_table{
  width: 96%; height: 96%;
  margin: 2%;
  table-layout: fixed;
}

.voting_table_questions_row{
  height: 100px; /* stephen */
}

#voting_table caption{
  font-size: 200%;
  padding: 1%;
}

td #inner_topic_table_container{
  width: 24%;
}

.inner_topic_table{
  border: 1px solid black;
  border-radius: 5px;
  width: 100%; height: 100%;
}

td .question{
  top: 0%;
  left: 0%;
  width: 94%;
  padding-left: 3%; padding-right: 3%;

}

.vote_cell_table{
  width: 100%;
}

.vote_cell_table tbody, tr{
  width: 100%;
}

.vote_cell_thumbs_vote, .voting_meter_td{
  display: inline-block;
}

.voting_meter_td{
  width: 55%;
  height: 20%;
}

.vote_cell_thumbs_vote{
  width: 20%;
}

/* METER ITSELF */
.voting_meter_table {
  height: 100%;
}
.voting_meter_table tbody, tr{
  padding: 0; margin: 0;
}


.vote_cell button{
  width: 100%;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}


.voting_meter_table{
  width: 100%;
  height: 100%;
}

/* ______________________________________ */
#tfy_classroom {
  background-color: #4995ff;
  padding: 3% 0 3% 0;
}

#tfy_classroom_description div {
  display: inline-block;
  margin: 0;
  width: 100%; height: 100%;
}

#tfy_classroom_description div h1, p{
  display: block;
  width: 85%;
  margin: 0 7% 0 8%;
  color: white;
}

#tfy_classroom_description div h1{
  text-align: center;
  font-size: 300%;
}

#tfy_classroom_description div p{
  padding: 3%;
  font-size: 150%;
}

/* ________________ vision to reality _____________ */

#vision_to_reality{
  padding: 3% 0 3% 0;
  background-color: lightgray; /* gray */
}

#vision_to_reality h1{
  width: 100%;
  text-align: center;
  font-size: 400%;
  color: #4995ff;
  padding: 0; margin: 0;
}

#vision_to_reality p{
  margin: 0 15% 0 15%;
  padding: 1% 0 1% 0;
  width: 70%;
  text-align: center;
  font-size: 250%;
  color: black;
}

/* _____________ team _______________ */
#team{
  padding: 3% 0 3% 0;
}
#team p{
  color: black;
  margin: 0;
  padding-top: 0;
  width: 100%; height: 100%;
  font-size: 120%;
}

#team_table{
  padding: 4%;
}

#team_table td{
  display: table-cell;
  vertical-align: top;
  width: 30%;
  padding: 0 3% 0 3%;
}

#founder_photo{
  width: 100%; height: auto;
}

td#founder_name{
  color: black;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 180%;
}

#team_table caption{
  font-size: 400%;
}

/* __________________ contact us _________________ */
#contact{
  background-color: black;
  padding: 3% 0 3% 0;
}

#contact h1, p, small{
  text-align: center;
  color: white;
}

#contact h1{
  font-size: 400%;
  margin: 0;
}

#contact p{
  font-size: 300%;
  padding: 3% 0 3% 0;
}

#tfy_footer_logo_wrapper{
  width: 100%;
}
#tfy_footer_logo{
  display: block; margin: 0 auto; /* center horiz. */
  width: 70%;
  padding: 3% 0 3% 0;
}

#contact small{
  display: block; margin: 0 auto;
  width: 100%;
  font-size: 100%;
  padding: 2% 0 2% 0;
}

#contact form{
  display: inline-block;
  color: white;
  width: 100%;
}

.flash{
  color: pink;
}

.contact_input{
  width: 50%;
  font-size: 18pt;
  margin-top: 10px;
}

.contact_input_wrapper{
  padding: 1%;
}

.contact_input_wrapper label{
  font-size: 14pt;
}

textarea#email_body{
  margin-top: 10px;
  width: 100%;
}

button#contact_button{
  width: 7em;
  height: 2em;
  font-size: 1.2em;
  border-radius: .5em;
  background-color: lightblue;
}
