<form method='POST' action= {{url_for('login')}} >
  {% for username_error in form.username.errors %}
    {{ username_error }}
  {% endfor %}

  {% for password_error in form.password.errors %}
    {{ password_error }}
  {% endfor %}
  <div class="contact_input_wrapper">
    <!-- {{form.hidden_tag()}} -->
    <label>{{form.username.label}}</label>
    <br>
    {{form.username}}
  </div>
  <br>
  <div class="contact_input_wrapper">
    <label>{{form.password.label}}</label>
    <br>
    {{form.password}}
  </div>
  <div class="contact_input_wrapper">
    {{form.submit}}
  </div>
</form>
