<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<link rel="import" href="header.html">

<body class="foobar">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <h1> Loading requirements for {{entity}} in {{filename}} </h1>
    <div>
      {% set n_possible_entities = results.keys()|length %}
      {% if n_possible_entities == 0 %}
        <div>Your search did not return any results.</div>
      {% else %}
        <div>Found {{n_possible_entities}} entities related to your search.</div>
        {% for matching_entity in results.keys() %}
          <h3>{{matching_entity}}</h3>
          {% for requirement in results[matching_entity][1] %}
            <div>{{requirement}}</div>
          {% endfor %}
        {% endfor %}
      {% endif %}
    </div>
</body>
</html>
