<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/styles.css"/>
  <title>{% block title %}{% endblock %}</title>
</head>

<header>
  <nav class="nav" id="nav">
    <div id="LogicHero">Logic Hero</div>
  </nav>
</header>

<body>
    <div id="main">{% block main %}{% endblock %}</div>

</body>

</html>
